@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  max-width: 100%;
}
html,
body {
  scroll-behavior: smooth;
  margin: 0px;
  min-height: 100%;
}
/* a blue color as a generic focus style */
button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}
a {
  text-decoration: none;
}

li {
    list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}
/* @FONTWARNING[{"type": "restricted", "family": "Inter-SemiBold", "weight": "400", "style": "normal", "allowsCrossOrigin": false}] */

@font-face {
  font-family: "Inter-SemiBold";
  src: local("Inter-SemiBold");
}
/* @FONTWARNING[{"type": "restricted", "family": "Inter", "weight": "var(--desktop-action-link-button-font-weight)", "style": "italic", "allowsCrossOrigin": false}] */

@font-face {
  font-family: "Inter";
  src: local("Inter");
}
